.lbl {
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    font-size: 17px !important;
    border-color: transparent !important;
    background-color: transparent !important;
    color: white !important;
}
.btn-color {
    background-color: transparent!important;
    margin-left: -7px !important;
}
Button {
    display: inline-block;
}

.container {
    text-align: center;
    padding: 2em;
}

