body {
    color: white;
    background-position: center;
    background-attachment: fixed !important;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    font-weight: 700;
}

.temperature {
    margin-top: 60px;
    text-align: center;
    font-size: 17px;
}

.degrees{
    margin-top: 5px;
    text-align: center;
    font-size: 17px;
}

.humidity {
    margin-top: 5px;
    text-align: center;
    font-size: 17px;
}

.description {
    margin-top: 5px;
    text-align: center;
    font-size: 17px;
}

.location {
    margin-top: 60px;
    text-align: center;
}

.img {
    margin-top: 60px;
}

.country {
    font-size: 60px;
    margin-bottom: 40px;
}

.city {
    margin-top: 1rem;
    font-size: 30px;
}
